.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(146, 172, 245);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 40, 95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.main-nav {
  min-height: 70px;
  padding-left: 15px;
}

.nav-logo-text h4 {
  font-size: 24px;
  font-weight: 700;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  text-decoration: none;
}

#dscarrotop-navbar {
  justify-content: flex-end;
}

.main-menu {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.main-menu a {
  color: #00285f;
  text-decoration: none
}

.main-menu a:hover {
  color: #00285f;
  text-decoration: none
}

.main-menu a.active {
  color: #00285f;
  font-weight: 700;
}
