.home-container {
    padding: 20px 10px;
    
}

.home-card-container {
    background-color: #00285F;
    min-width: 320px;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 35px 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.img-container {
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

.img-content-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-content-conatiner h3 {
    width: 275px;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    padding-bottom: 13px;
}

.img-content-conatiner p {
    width: 275px;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}

.content-card-container {
    padding: 28px 45px 25px 45px;
    background-color: rgba(237, 237, 237, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.content-card-container button {
    background-color: #00285F;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: 174px;
    font-size: 14px;
    font-weight: 700;
}

.content-card-container button:hover {
    color: #FFF;
}

.content-card-container p {
    color: rgba(88, 88, 88, 1);
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}